# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Django SQLite database
*.sqlite3

# Environment files
.env

# VS Code settings
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Migrations (optional - if you don’t want to track them)
# */migrations/
# !*/migrations/__init__.py
